# node_modules
node_modules/
.expo/
dist/
web-build/

# Native builds
*.ipa
*.apk
*.aar

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.iml
